.Home{
    background-color: #f0f3fc;
    min-height: 100vh;
    .header{
        height: 60px;
        line-height: 60px;
        background: #20a2ed;
        padding: 0 20px;
        color: #fff;
        font-size: 18px;
    }

}
