.container-type2{
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
}
.container-type2 .item{
    padding-top: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.container-type2 .item:nth-of-type(1){
    border-right: 1px solid #cccccc;
}
.container-type2 .select-component{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: blue;
    z-index: 2;
}
.container-type2 .select-component:hover{
    opacity: 0.6;
}
