/*.grid-stack-item[data-gs-width="1"]  { width: calc(100% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="2"]  { width: calc(200% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="3"]  { width: calc(300% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="4"]  { width: calc(400% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="5"]  { width: calc(500% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="6"]  { width: calc(600% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="7"]  { width: calc(700% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="8"]  { width: calc(800% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="9"]  { width: calc(900% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="10"]  { width: calc(1000% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="11"]  { width: calc(1100% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="12"]  { width: calc(1200% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="13"]  { width: calc(1300% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="14"]  { width: calc(1400% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="15"]  { width: calc(1500% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="16"]  { width: calc(1600% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="17"]  { width: calc(1700% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="18"]  { width: calc(1800% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="19"]  { width: calc(1900% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="20"]  { width: calc(2000% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="21"]  { width: calc(2100% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="22"]  { width: calc(2200% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="23"]  { width: calc(2300% / 24) !important; }*/
/*.grid-stack-item[data-gs-width="24"]  { width: calc(2400% / 24) !important; }*/



/*.grid-stack-item[data-gs-x="1"]  { left: calc(100% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="2"]  { left: calc(200% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="3"]  { left: calc(300% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="4"]  { left: calc(400% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="5"]  { left: calc(500% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="6"]  { left: calc(600% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="7"]  { left: calc(700% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="8"]  { left: calc(800% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="9"]  { left: calc(900% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="10"]  { left: calc(1000% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="11"]  { left: calc(1100% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="12"]  { left: calc(1200% / 24) !important; }*/

/*.grid-stack-item[data-gs-x="13"]  { left: calc(1300% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="14"]  { left: calc(1400% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="15"]  { left: calc(1500% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="16"]  { left: calc(1600% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="17"]  { left: calc(1700% / 24) !important; }*/
/*.grid-stack-item[data-gs-x="18"]  { left: calc(1800% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="19"]  { left: calc(1900% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="20"]  { left: calc(2000% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="21"]  { left: calc(2100% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="22"]  { left: calc(2200% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="23"]  { left: calc(2300% / 24)  !important; }*/
/*.grid-stack-item[data-gs-x="24"]  { left: calc(2400% / 24)  !important; }*/
